#locate-button {
    position: sticky;
    top: 20px; /* Ustawienie odległości od góry */
    z-index: 10; /* Zapewnienie, że przycisk będzie nad innymi elementami */
    background-color: white; /* Jeśli chcesz, by przycisk miał białe tło */
    padding: 10px 20px; /* Opcjonalnie, by przycisk wyglądał lepiej */
    border-radius: 5px; /* Dla ładniejszego wyglądu */
    margin-bottom: 10px; /* Odstęp od innych elementów */
}

#button-container {
    margin-bottom: 20px; /* Odstęp poniżej formularza */
}

#stations-list {
    padding-top: 10px;
}
/* Styl dla komunikatów */
.message-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    z-index: 1000;
    display: none;
}

.message-box.success {
    background-color: #28a745;
}

.message-box.error {
    background-color: #dc3545;
}

.message-box.warning {
    background-color: #ffc107;
}

.message-box.info {
    background-color: #17a2b8;
}

