{% extends "accounts/base.html" %}

{% block title %}Dodaj do Ulubionych{% endblock %}

{% block content %}
<head>
    <style>
        .containertt{
            margin-top: 110px;
            margin-bottom: 110px;
        }
    </style>
</head>
    <div class="containertt">
        <h1 class="my-4">Dodaj Stację do Ulubionych</h1>

        <!-- Displaying messages -->
        {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="station" class="form-label">Wybierz Stację:</label>
                <select class="form-control" id="station" name="station_id" required>
                    <option value="0" disabled selected>Wybierz stację</option>
                    {% for station in stations %}
                        <option value="{{ station.Station_Id }}">{{ station.Name }} - {{ station.Address }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success mt-3 w-100">Dodaj do Ulubionych</button>
        </form>


        <a href="{% url 'stations:default_page' %}" class="btn btn-secondary mt-3 w-100">Wróć Na Stronę Główną</a>

    </div>
{% endblock %}
