{% extends "accounts/base.html" %}

{% block title %}Ulubione Stacje{% endblock %}

{% block content %}
<head>
    <style>
        .containertt{
            margin-top: 110px;
            margin-bottom: 110px;
        }
    </style>
</head>
    <div class="containertt">
        <h1 class="my-4">Ulubione Stacje</h1>

        <!-- Displaying messages -->
        {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <h2 class="my-3">Twoje ulubione stacje:</h2>

        {% for station in favorite_station_list %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/station_details/details/{{ station.Station_Id }}">{{ station.Name }}</a>
                        </h5>
                        <p class="card-text">{{ station.Address }}</p>
                    </div>
                </div>
            {% empty %}
                <p class="text-muted">Nie masz jeszcze ulubionych stacji.</p>
            {% endfor %}

        <div class="actions mt-4">
            <a href="{% url 'profil_account:add_favorite_station' %}" class="btn btn-primary w-100 mb-2">Dodaj Ulubioną Stację</a>
            <a href="{% url 'profil_account:remove_favorite_station' %}" class="btn btn-danger w-100">Usuń Ulubioną Stację</a>
        </div>
    </div>
{% endblock %}
