{% extends "accounts/base.html" %}

{% block title %}Bezpieczeństwo na stacjach paliw{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Bezpieczeństwo na stacjach paliw: Co warto wiedzieć?</h2>
        <p>Stacje paliw to miejsca, w których codziennie zachodzi proces tankowania pojazdów, co wiąże się z pewnym ryzykiem. Dlatego tak ważne jest, aby przestrzegać odpowiednich zasad bezpieczeństwa. W tym artykule omawiamy najważniejsze zasady BHP, które powinny być przestrzegane na stacjach paliw.</p>

        <h3>Zasady bezpieczeństwa na stacjach paliw</h3>
        <p>Każda stacja paliw powinna przestrzegać ścisłych norm bezpieczeństwa, które mają na celu zapewnienie ochrony nie tylko dla pracowników stacji, ale także dla jej klientów. Poniżej przedstawiamy najważniejsze zasady bezpieczeństwa:</p>
        <ul>
            <li><strong>Nie pal papierosów w pobliżu dystrybutorów paliwa</strong> - Palenie na stacji paliw jest zabronione z powodu ryzyka wybuchu. Paliwo jest substancją łatwopalną, dlatego każda stacja paliw powinna mieć wyraźne oznaczenia zakazu palenia.</li>
            <li><strong>Używaj telefonu tylko w bezpiecznych miejscach</strong> - Telefonowanie w czasie tankowania może odwrócić uwagę od procesu, który powinien przebiegać bezbłędnie.</li>
            <li><strong>Nie przepełniaj baku</strong> - Wlewając paliwo do baku, nie należy go przepełniać, ponieważ może dojść do wycieku paliwa, co jest niebezpieczne.</li>
        </ul>

        <h3>Nowe wytyczne BHP na stacjach paliw</h3>
        <p>W 2024 roku wprowadzono nowe przepisy, które mają na celu poprawę bezpieczeństwa na stacjach paliw. Wśród nich znajdują się m.in. wymogi dotyczące instalacji przeciwpożarowych, modernizacji dystrybutorów oraz lepszej edukacji pracowników w zakresie pierwszej pomocy.</p>

        <h3>Podsumowanie</h3>
        <p>Bezpieczeństwo na stacjach paliw to priorytet. Dlatego tak ważne jest, aby każdy kierowca przestrzegał zasad BHP i zachował ostrożność podczas tankowania. Właściciele stacji paliw powinni regularnie aktualizować swoje procedury bezpieczeństwa, by zapewnić ochronę swoim klientom.</p>

<p><a href="javascript:history.back()" class="btn btn-primary">Wróć do aktualności</a></p>    </div>
{% endblock %}
