<!-- File: stations/templates/default_page.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to FuelMate</h1>
    <a href="{% url 'fuel_list' %}">Go to Fuel List</a>
    <a href="{% url 'gas_station_list' %}">Go to Gas Station</a>
    <a href="{% url 'role_list' %}">Go to Role list</a>
    <a href="{% url 'user_list' %}">Go to User list</a>
    <a href="{% url 'notification_list' %}">Go to Notification list</a>
    <a href="{% url 'report_list' %}">Go to Report list</a>
    <a href="{% url 'station_rev_list' %}">Go to Station Review list</a>
    <a href="{% url 'promotion_list' %}">Go to Promotion list</a>
    <a href="{% url 'favorite_station_list' %}">Go to User Promotion list</a>
    <a href="{% url 'price_history_list' %}">Go to Price History list</a>
    <a href="{% url 'station_fuel_list' %}">Go to Fuel Type list</a>
    <a href="{% url 'accounts:register' %}">Go to LOGIN</a>




</body>
</html>