<!-- user_list.html -->

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista Użytkowników</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            padding: 12px;
            border: 1px solid #dddddd;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Lista Użytkowników</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Last_login</th>
                <th>Is_super_USer</th>
                <th>username</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Is_staff</th>
                <th>Is_active</th>
                <th>Date_joined</th>
            </tr>
        </thead>
        <tbody>
            {% for auth_user in auth_users %}
                <tr>
                    <td>{{ auth_user.UserId }}</td>
                    <td>{{ auth_user.Last_login }}</td>
                    <td>{{ auth_user.Is_super_user }}</td>
                    <td>{{ auth_user.Username }}</td>
                    <td>{{ auth_user.First_name }}</td>
                    <td>{{ auth_user.Last_name }}</td>
                    <td>{{ auth_user.Is_staff }}</td>
                    <td>{{ auth_user.Is_active }}</td>
                    <td>{{ auth_user.Date_joined }}</td>


                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
