{% extends "accounts/base.html" %}

{% block title %}Panel Administratora{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Panel Administratora</h1>
    <hr>

    <div class="mt-4 mb-4 text-center">
        <a href="{% url 'add_prices:nearest_stations' %}" class="btn btn-primary me-2">Dodaj Cenę Paliwa</a>
        <a href="{% url 'admin_panel:delete_prices' %}" class="btn btn-danger">Usuń Cenę Paliwa</a>
    </div>

    <div class="row">
        <!-- Zgłoszenia -->
        <div class="col-md-6">
            <h2>Zgłoszenia</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Stacja</th>
                        <th>Użytkownik</th>
                        <th>Data zgłoszenia</th>
                        <th>Komentarz</th>
                    </tr>
                </thead>
                <tbody>
                    {% for complain in complain %}
                    <tr>
                        <td>{{ complain.id }}</td>
                        <td>{{ complain.station.Name }}</td>
                        <td>{{ complain.user }}</td>
                        <td>{{ complain.date_created }}</td>
                        <td>{{ complain.text }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">Brak zgłoszeń do wyświetlenia.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Anomalie Cenowe -->
        <div class="col-md-6" style="border: 2px dashed #ccc; padding: 20px;">
    <h2>Anomalie Cenowe</h2>
    {% if anomalies %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stacja</th>
                <th>Paliwo</th>
                <th>Cena</th>
                <th>Średnia Cena</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for anomaly in anomalies %}
            <tr>
                <td>{{ anomaly.Station_Id.Name }}</td>
                <td>{{ anomaly.Fuel_Id.Name }}</td>
                <td>{{ anomaly.Price }}</td>
                <td>{{ anomaly.avg_price }}</td>
                <td>{{ anomaly.Date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center">Brak anomalii cenowych do wyświetlenia.</p>
    {% endif %}
    </div>
    </div>
</div>
{% endblock %}
