<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Moja Aplikacja{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <style>
        /* Dodatkowe style, aby upewnić się, że przycisk jest na odpowiedniej pozycji */
        .logout-button {
            position: absolute;
            top: 50%;
            right: 20px;  /* Zmienia to dokładne położenie przycisku */
            transform: translateY(-50%);
        }
    </style>
</head>
<body class="bg-light">
    <header class="bg-dark text-white p-3 text-center position-relative">
        <h1>FuelMate</h1>

        <!-- Przycisk wylogowania w prawym górnym rogu -->
        <div class="logout-button">
            {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'accounts:logout' %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-light">Wyloguj się</button>
                </form>
            {% else %}
                <!-- Możesz dodać tutaj jakiś inny element lub wiadomość dla niezalogowanego użytkownika -->
                <p class="text-white">Zaloguj się, aby uzyskać dostęp do pełnej funkcjonalności.</p>
            {% endif %}
        </div>
    </header>

    <main class="container mt-5">
        {% block content %}
        <!-- Zawartość strony będzie wstawiona tutaj -->
        {% endblock %}
    </main>

    <footer class="text-center mt-5 mb-3 text-muted">
        <p>&copy; {{ year }} FuelMate</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
